neural_operators/tests/FNO/shear_layer/loss_L1_mode_default/model_FNO_2D_ShearLayer
neural_operators/tests/FNO/poisson/loss_L1_mode_best/model_FNO_2D_SinFrequency
neural_operators/tests/FNO/disc_tran/loss_L1_mode_best/model_FNO_2D_DiscContTranslation
neural_operators/tests/FNO/cont_tran/loss_L1_mode_best/model_FNO_2D_ContTranslation
neural_operators/tests/FNO/shear_layer/loss_L1_mode_best/model_FNO_2D_ShearLayer
neural_operators/tests/CNO/shear_layer/loss_L1_mode_best/model_CNO_2D_ShearLayer
neural_operators/tests/FNO/darcy/loss_L1_mode_best/model_FNO_2D_Darcy
neural_operators/tests/FNO/poisson/loss_L1_mode_best_linear/model_FNO_2D_SinFrequency
neural_operators/tests/FNO/cont_tran/loss_L1_mode_best_50M/model_FNO_2D_ContTranslation
neural_operators/tests/FNO/cont_tran/loss_L1_mode_best_150M/model_FNO_2D_ContTranslation
