model*
FNO/ord/loss_L2_mode_best/events.out.tfevents.1743973586.dio-fan-teo
FNO/ord/loss_L2_mode_best_samedofs/events.out.tfevents.1743973564.dio-fan-teo
FNO/ord/loss_L2_mode_default/events.out.tfevents.1743973669.dio-fan-teo